<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-messages/angular-messages.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!--  your app's js -->
     <script src="js/app.js"></script>
   </head>
   <body ng-app="starter" ng-controller="MyCtrl">

     <ion-pane>
       <ion-header-bar class="bar-stable">
         <h1 class="title">Connected Life</h1>
       </ion-header-bar>
       <ion-content>
           <div class="button-bar  padding">
             <a grouped-radio="'Login'" ng-model="data.gender" ng-click="tabLoginClicked()">Sign In</a>
             <a grouped-radio="'Register'" ng-model="data.gender" ng-click="tabRegisterClicked()">Register</a>
           </div>
         <form ng-submit="doLogin()" name="loginForm" ng-show="isTabLoginClicked">
           <div class="list">
             <!--<label class="item item-input">
               <span class="input-label">Email Address</span>
               <input name="email" type="email" ng-model="loginData.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
             </label>-->
             <label class="item item-input item-stacked-label item-borderless">
               <span class="input-label" >Email Address</span>
               <input class="input-no-error"
                      name="email" placeholder="John@gmail.com" type="email" ng-model="loginData.email "
                      ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
             </label>
             <hr ng-show="loginForm.email.$touched && loginForm.email.$invalid" class="input-with-error">
             <div ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched" class="error-mgs-container">
               <div ng-message="required">Please enter your email</div>
               <div ng-message="pattern">Please enter a valid email address!</div>
             </div>

             <label class="item item-input item-stacked-label item-borderless">
               <span class="input-label" >Password</span>
               <input class="input-no-error" type="password" placeholder="xxxxxxxx" name="password" ng-model="loginData.password"  required>
             </label>
             <hr ng-show="loginForm.password.$touched && loginForm.password.$invalid" class="input-with-error">
             <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched" class="error-mgs-container">
               <div ng-message="required">Please enter your Password</div>
             </div>
             <label class="item item-borderless">
               <button class="button button-block button-positive" type="submit" ng-disabled="loginForm.$invalid">Sign In</button>
             </label>
           </div>
         </form>

         <form ng-submit="doRegister()" name="registerForm" ng-show="isTabRegisterClicked">
           <div class="list">
             <label class="item item-input item-stacked-label item-borderless">
               <span class="input-label">Username</span>
               <input type="text" placeholder="John" name="username" ng-model="registerData.username"  class="input-no-error" required>
             </label>
             <hr ng-show="registerForm.username.$touched && registerForm.username.$invalid" class="input-with-error">
             <div ng-messages="registerForm.username.$error" ng-if="registerForm.username.$touched" class="error-mgs-container">
               <div ng-message="required">You did not enter a field</div>

             </div>
             <label class="item item-input item-stacked-label item-borderless">
               <span class="input-label">Email Address</span>
               <input name="email" type="email" placeholder="John@gmail.com" ng-model="registerData.email" class="input-no-error" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
             </label>
             <hr ng-show="registerForm.email.$touched && registerForm.email.$invalid" class="input-with-error">
             <div ng-messages="registerForm.email.$error" ng-if="registerForm.email.$touched" class="error-mgs-container">
               <div ng-message="required">Please enter your email</div>
               <div ng-message="pattern">Please enter a valid email address!</div>
             </div>



             <label class="item item-input item-stacked-label item-borderless">
               <span class="input-label">Mobile number</span>
               <input class="input-no-error" type="number" name="mobile" placeholder="65 98675670" ng-model="registerData.mobile" required ng-pattern="/^[789]\d{9}$/">
             </label>
             <hr ng-show="registerForm.mobile.$touched && registerForm.mobile.$invalid" class="input-with-error">
             <div ng-messages="registerForm.mobile.$error" ng-if="registerForm.mobile.$touched" class="error-mgs-container">
               <div ng-message="required">Please enter your Mobile Number</div>
               <div ng-message="pattern">Not a valid Mobile umber!</div>
             </div>


             <label class="item item-input item-stacked-label item-borderless">
               <span class="input-label">Password</span>
               <input class="input-no-error" type="password" placeholder="xxxxxxxx" name="password" ng-model="registerData.password"  required>
             </label>
             <hr ng-show="registerForm.password.$touched && registerForm.password.$invalid" class="input-with-error">
             <div ng-messages="registerForm.password.$error" ng-if="registerForm.password.$touched" class="error-mgs-container">
               <div ng-message="required">Please enter your Password</div>

             </div>

             <label class="item item-borderless">
               <button class="button button-block button-positive" type="submit" ng-disabled="registerForm.$invalid">Register</button>
             </label>
           </div>
         </form>

         <button class="button button-block button-positive" type="submit" ng-click="btnSendSMSClicked()">Send SMS</button>
         <button class="button button-block button-positive" type="submit" ng-click="btnGetContactsClicked()">Get Contacts</button>

       </ion-content>
     </ion-pane>
   </body>
 </html>


